[package]
name = "korangar"
version = "0.1.0"
edition = "2021"

[dependencies]
procedural = { path = "procedural" }
rayon = "1.5.3"
rand = "0.8.5"
derive-new = "0.5"
vulkano = { git = "https://github.com/vulkano-rs/vulkano.git", rev = "db3df4e55f80c137ea6187250957eb92c2291627" }
vulkano-shaders = { git = "https://github.com/vulkano-rs/vulkano.git", rev = "db3df4e55f80c137ea6187250957eb92c2291627" }
vulkano-win = { git = "https://github.com/vulkano-rs/vulkano.git", rev = "db3df4e55f80c137ea6187250957eb92c2291627" }
bytemuck = { version = "1.9", features = ["derive", "extern_crate_std", "min_const_generics"] }
winit = "0.28.7"
num = "*"
cgmath = { version = "0.18", features = ["serde"] }
serde = "1.0.137"
ron = "0.8.0"
rusttype = { version = "0.9.2", features = ["gpu_cache"] }
yazi = "0.1.4"
image = "0.24.2"
pathfinding = "2.2.2"
chrono = "0.4"
lazy_static = { version = "1.4.0", optional = true }
collision = { git = "https://github.com/rustgd/collision-rs.git" }
option-ext = "0.2.0"
mlua = { version = "0.8", features = ["lua51", "vendored"] }
lunify = "1.1.0"
random_color = { version = "0.6.1", optional = true }
walkdir = "2"
serde-xml-rs = "0.6.0"
xml-rs = "0.8.0"

[features]
patched_as_folder = []
debug = ["lazy_static", "random_color"]
unicode = ["debug"]
plain = ["debug"]
