[package]
name = "korangar"
version = "0.1.0"
edition = "2021"

[dependencies]
procedural = { path = "procedural" }
rayon = "1.5.3"
rand = "0.8.5"
derive-new = "0.5"
vulkano = "0.32.1"
vulkano-shaders = "0.32.0"
vulkano-win = "0.32.0"
bytemuck = { version = "1.7", features = ["derive", "extern_crate_std", "min_const_generics"] }
winit = "0.27"
num = "*"
cgmath = { version = "0.18", features = ["serde"] }
serde = "1.0.137"
ron = "0.7.1"
rusttype = { version = "0.9.2", features = ["gpu_cache"] }
yazi = "0.1.4"
image = "0.24.2"
pathfinding = "2.2.2"
chrono = "0.4"
lazy_static = { version = "1.4.0", optional = true }
collision = { git = "https://github.com/rustgd/collision-rs.git" }
option-ext = "0.2.0"
mlua = { version = "0.8", features = ["lua51", "vendored"] }
lunify = "1.1.0"
random_color = { version = "0.6.1", optional = true }

[features]
local = []
debug = ["lazy_static", "random_color"]
unicode = ["debug"]
plain = ["debug"]
