on:
  push:
  pull_request:
    branches:
      - main

name: Build

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Korangar (release)
        run: cargo build

      - name: Build Korangar (debug)
        run: cargo build --features "debug"

      - name: Generate ragnarok_packets.json (for bindgen)
        run: cargo rustdoc -p ragnarok_packets -- -Z unstable-options --output-format json

      - name: Save ragnarok_packets.json as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ragnarok_packets.json
          path: target/doc/ragnarok_packets.json
