on:
  push:
  pull_request:
    branches:
      - main

name: Build

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install build dependencies
        run: sudo apt install libasound2-dev nasm

      - name: Build Korangar (release)
        run: cargo build

      - name: Build Korangar (debug)
        run: cargo build --features "debug"

      - name: Generate ragnarok-packets.json (for bindgen)
        run: cargo rustdoc -p ragnarok-packets -- -Z unstable-options --output-format json

      - name: Save ragnarok-packets.json as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ragnarok-packets.json
          path: target/doc/ragnarok_packets.json

  build-nix-dev-shell:
    name: Build Nix devShell
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v25
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Build devShell
        run: nix develop -L
