on:
  push:
  pull_request:
    branches:
      - main

name: Formatting

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Formatting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Add Rustfmt
        run: rustup component add rustfmt

      - name: Check formatting
        run: cargo fmt --all --check
