on:
  push:
  pull_request:
    branches:
      - main

name: Tests

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run unit tests
        run: cargo test --all-features
